.placeCard {
    display: flex;
    /* justify-content: center; */
}

.image {
    display: flex;
    justify-content: flex-start;
    height: 400px;
    width: 800px;
    border-radius: 20px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(158, 157, 157);
    margin-right: 30%;
}


.header {
    margin-left: 10px;
}
