* {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
/*
* {
    display:flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    background-color: rgb(231, 231, 231);
    width: 100vw;
    min-height: 100vh;
    overflow: scroll;
    padding-top: 1.6vh;
} */

.logo {
   position: absolute;
   left: 10%;
   bottom: 1rem;
}

.treehouse {
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    border: 40px black solid;

}
