.logninform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    position: absolute;
    z-index: 1;
    right: 200px;
    bottom: -190px;
    width: 14.8vw;
    height: 48vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 5px;
    padding-left: 15px;
    border-radius: 20px;
}

.loginButtons {
    padding: 5px;
}
